.aboutme {
    height: calc(100vh - 30px);
    background-color: var(--gray-box);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5vw;
    font-style: italic;
    line-height: 50px;
    padding: 100px 900px 0px 50px;
  }
  
  .aboutmeSection__data{
    width: 60%;
    display: flex;
    justify-content: space-around;
  }