.contact {
  height: calc(100vh - 30px);
  background: var(--gray-box);
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contactSection__logo {
  width: 39vw;
  animation: logo 5s infinite;
}

@keyframes logo {
  3% {
    scale: 1.05;
  }
  6% {
    scale: 1;
  }
  8% {
    scale: 1.05;
  }
  50% {
    scale: 1;
  }
}
.contactSection__form {
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: flex-start;
}

.contactSection__form__title {
  align-self: self-start;
}

.contactSection__form__ask {
  color: var(--gray);
}

.contactSection__form__msg {
  margin: 10px 0;
}

.contactSection__form__box {
  box-sizing: border-box;
  width: 100%;
  height: 6vh;
  margin: 16px 0;
  padding: 10px;
  font-family: var(--font);
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.contactSection__form__box--mail {
  box-shadow: 0px 0px 10px 1px #0b0c109c inset;
}

.contactSection__form__area {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 40%;
  margin-top: 16px;
  font-family: var(--font);
  font-size: 1rem;
  resize: none;
  transition: all 0.2s ease-in-out;
}

.contactSection__form__button {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 20px;
  height: 6vh;
  width: 10vw;
  transition: all 0.2s ease-in-out;
  font: var(--font);
  align-self: flex-end;
  margin-top: 32px;
}

.contactSection__form__button:hover {
  background-color: var(--wine);
  cursor: pointer;
}