.contact {
  height: calc(100vh - 30px);
  background: var(--gray-box);
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #232427;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='327' height='327' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230B0C10' stroke-width='1.5'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23400A18'%3E%3Ccircle cx='769' cy='229' r='10'/%3E%3Ccircle cx='539' cy='269' r='10'/%3E%3Ccircle cx='603' cy='493' r='10'/%3E%3Ccircle cx='731' cy='737' r='10'/%3E%3Ccircle cx='520' cy='660' r='10'/%3E%3Ccircle cx='309' cy='538' r='10'/%3E%3Ccircle cx='295' cy='764' r='10'/%3E%3Ccircle cx='40' cy='599' r='10'/%3E%3Ccircle cx='102' cy='382' r='10'/%3E%3Ccircle cx='127' cy='80' r='10'/%3E%3Ccircle cx='370' cy='105' r='10'/%3E%3Ccircle cx='578' cy='42' r='10'/%3E%3Ccircle cx='237' cy='261' r='10'/%3E%3Ccircle cx='390' cy='382' r='10'/%3E%3C/g%3E%3C/svg%3E");
}

.contactSection__logo {
  width: 39vw;
  animation: logo 5s infinite;
}

@keyframes logo {
  3% {
    scale: 1.05;
  }
  6% {
    scale: 1;
  }
  8% {
    scale: 1.05;
  }
  50% {
    scale: 1;
  }
}
.contactSection__form {
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: flex-start;
}

.contactSection__form__title {
  align-self: self-start;
}

.contactSection__form__ask {
  color: var(--gray);
}

.contactSection__form__msg {
  margin: 10px 0;
}

.contactSection__form__box {
  box-sizing: border-box;
  width: 100%;
  height: 6vh;
  margin: 16px 0;
  padding: 10px;
  font-family: var(--font);
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.contactSection__form__box--mail {
  box-shadow: 0px 0px 10px 1px #0b0c109c inset;
}

.contactSection__form__area {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 40%;
  margin-top: 16px;
  font-family: var(--font);
  font-size: 1rem;
  resize: none;
  transition: all 0.2s ease-in-out;
}

.contactSection__form__button {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 20px;
  height: 6vh;
  width: 10vw;
  transition: all 0.2s ease-in-out;
  font: var(--font);
  align-self: flex-end;
  margin-top: 32px;
  font-size: 1rem;
}

.contactSection__form__button:hover {
  background-color: var(--wine);
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .contact {
    height: 63vh;
    padding: 0px 30px;
  }

  .contactSection__logo {
    width: 30vw;
  }
  .contactSection__form{
    height: 100%;
  }
  .contactSection__form__box {
    height: 4vh;
    width: 110%;
    margin: 8px 0;
  }
  .contactSection__form__area {
    height: 30%;
    width: 110%;
    margin: 8px 0;
  }
  .contactSection__form__button {
    height: 3rem;
    width: 10rem;
    margin-top: 5px;
    font-size: 1rem;
    align-self: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 0 10px;
  }
  .contactSection__logo {
    display: none;
  }

  .contactSection__form {
    height: 100%;
    width: 100%;
  }
  .contactSection__form__box {
    width: 100%;
    font-size: 2rem;
  }
  .contactSection__form__area {
    width: 100%;
    font-size: 2rem;
  }
  .contactSection__form__msg {
    font-size: 2rem;
  }
  .contactSection__form__ask {
    font-size: 2rem;
  }
  .contactSection__form__button {
    height: 4rem;
    width: 50%;
    align-self: flex-end;
    font-size: 2rem;
  }
}