.header__logo {
  width: 12vw;
}

.header__logo:hover {
  cursor: pointer;
}

.header {
  justify-content: space-between;
  padding-top: 15px;
}

.navegation,
.navegation__menu {
  display: flex;
}

.navegation__menu__options {
}

.greet {
  color: var(--white);
  background-color: #692222;
  border: solid black;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: translateY(-15px);
  font: var(--font);
}

.greet:hover {
  background-color: #521a1a;
}