.header {
  justify-content: space-between;
  padding-top: 15px;
}

.header__logo {
  width: 12vw;
}

.header__logo:hover {
  cursor: pointer;
}


.navegation,
.navegation__menu {
  display: flex;
}

.navegation__menu__options {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greet {
  color: var(--white);
  background-color: #692222;
  border: solid black;
  border-radius: 20px;
  height: 6vh;
  width: 10vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font: var(--font);
}

.greet:hover {
  background-color: #521a1a;
  color: #f1ecece2;
}