@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Noto+Serif+Display:wght@400;700&display=swap');

:root {
  --black: #131313;
  --deep-wine: #260000;
  --dark-wine: #26060f;
  --wine: #400a18;
  --gray: #8c8c8c;
  --white: #ecf0f1;
  --light-white: #ffffffb0;

  --c1: #591c1c;

  --font: "Lora", serif;
  --display: 'Noto Serif Display', serif;
}


html {
  font-size: 1.25vw;
  background: linear-gradient(
    180deg,
    var(--black) 0%,
    var(--deep-wine) 40%,
    var(--wine) 100%
    );
    background-repeat: no-repeat;
  }
  
  body {
    font-family: var(--font);
  }
  
.container {
  margin: 0 50px;
  display: flex;
  align-items: center;
}

a {
  color: var(--white);
}

a:hover {
  color: var(--gray);
}

.title2 {
  margin: 30px 0;
  color: var(--white);
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}

.text--active {
  font-style: italic;
  font-weight: bold;
}
